body {
    padding-top: 10px;
}
pre {
    background-color: #eeeeee;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}
table th, table td {
    padding: 3px 6px;
    border: 1px solid #ccc;
}